@media only screen and (min-device-width: 501px) and (max-width: 950px) {
  .Gcategory {
    padding-left: 30% !important;
  }
  .Gtype {
    padding-left: 30% !important;
  }

  .Gdifficulty {
    padding-left: 30% !important;
  }

  .GTquestions {
    padding-left: 30% !important;
  }
}

@media only screen and (min-device-width: 950px) and (max-device-width: 1270px) {
  .Gcategory {
    padding-left: 20% !important;
  }

  .Gdifficulty {
    padding-left: 20% !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

body {
  background-image: url(https://quiz-app-2020.netlify.app/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  margin: 0 1% !important;
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
